<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.note.dao.UserDAO">
	<insert id="saveUser" 
			parameterType="cn.tedu.note.entity.User">
			insert into cn_user
				(cn_user_id,
				cn_user_name,
				cn_user_password,
				cn_user_token,
				cn_user_nick)
			values
			(#{id},#{name},#{password},
				#{token},#{nick})	
	</insert>
	<select id="findAll" 
			resultMap="user">
		select 
			cn_user_id,
			cn_user_name ,
			cn_user_password,
			cn_user_token,
			cn_user_nick
		from cn_user
	</select>
		
	<select id="findUserById" 
			parameterType="string"
			resultMap="user">
		select
			cn_user_id ,
			cn_user_name , 
			cn_user_password ,
			cn_user_token ,
			cn_user_nick 
		from cn_user
		where cn_user_id=#{id}
	</select>		
	<delete id="deleteUser" 
			parameterType="cn.tedu.note.entity.User">
			delete from cn_user
			where cn_user_id=#{id}
	</delete>
	<update id="updateUser" 
			parameterType="cn.tedu.note.entity.User">
			update cn_user
			set
				cn_user_name=#{name},
				cn_user_password=#{password},
				cn_user_token=#{token},
				cn_user_nick=#{nick}
			where cn_user_id=#{id}		
	</update>
	<resultMap type="cn.tedu.note.entity.User" 
			   id="user">
		<result property="id" column="cn_user_id"/>
		<result property="name" column="cn_user_name"/>
		<result property="password" column="cn_user_password"/>
		<result property="token" column="cn_user_token"/>
		<result property="nick" column="cn_user_nick"/>
	</resultMap>
	<select id="findUserByName" 
			parameterType="string"
			resultMap="user">
		select * from cn_user 
		where cn_user_name=#{name}
	
	</select>
</mapper>